COMPOSE_PROJECT_NAME=vanttagem-db

MYSQL_DATABASE=vanttagem
MYSQL_USER=vanttagem_app
MYSQL_PASSWORD=troque-app-password
MYSQL_ROOT_PASSWORD=troque-root-password

MYSQL_ADMIN_USER=vanttagem_admin
MYSQL_ADMIN_PASSWORD=troque-admin-password

DB_PUBLIC_PORT=3306
DB_ALLOWED_IP=177.182.222.161
